/*#root {
  background-color: rgb(17, 22, 41);
}

.ui.header {
  color:  rgba(255, 255, 255, .87);
}

.ui table {
  border: none !important;
}

.ui.table thead th {
  background-color: rgb(26, 31, 49);
  color: white;
}

.ui .segment {
  background-color: rgb(95, 123, 240);
  color: white;
}

.ui.selection.dropdown {
  background-color: rgba(0, 0, 0, 0.25)
}
*/
.ui.table td.warning, .ui.table tr.warning {
    background: rgba(246, 157, 80, 0.2) !important;
}

.ui.table td.positive, .ui.table tr.positive {
    background: rgba(70, 149, 74, 0.2) !important;
}

.ui.table td.negative, .ui.table tr.negative {
    background: rgba(201, 60, 55, 0.2) !important;
}

/* Some basic formatting */
@media only screen and (min-width: 1900px) {
  .ui.container {
    width: 1720px !important;
  }

  .ui.grid.container {
    width: calc( 1720px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1720px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1720px  +  5rem ) !important;
  }
}

.container {
    padding: 0.75em 0em;
}

.ui.dividing.header,
.first {
    margin-top: 3em;
}

h1,
h3 {
    margin-top: 10em;
}

code {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.entry-info .key {
    width: 20% !important;
    font-weight: bold !important;
}

.entry-data .insert {
    color: rgb(70, 149, 74) !important;
}

.entry-data .delete {
    color: rgb(201, 60, 55) !important;
}

.entry-data .modified {
    color: rgb(246, 157, 80) !important;
}

.entry-data .diff-label {
    color: rgb(246, 157, 80) !important;
    display: inline !important;
    opacity: 0.6;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.entry-data {
  vertical-align: top;
}

.raw-content {
  background-color: rgba(1, 1, 1, 0.045) !important;
  white-space: pre;
}

.content-diff-added {
  background-color: rgba(70, 149, 74, 0.2);
}

.content-diff-removed {
  background-color: rgba(201, 60, 55, 0.2);
}

.statistics {
  margin: 2em 0;
}

.header-container .item {
  display: inline-block;
}

.page-header {
  margin-left: 5em;
  font-size: 1.5em !important;
  text-align: right;
  vertical-align: middle;
}

.har-data {
  white-space: -moz-pre-wrap !important;
  white-space: -o-pre-wrap !important;
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

.har-data-value {
  margin-left: 0.75em;
  background-color: rgba(1, 1, 1, 0.043);
}

.raw-content .inner-line-diff.added {
    background: rgba(70, 149, 74, 0.4) !important;  
}

.raw-content .inner-line-diff.removed {
    background: rgba(201, 60, 55, 0.4) !important;
}

.reorders-toogle {
  padding-top: .625em;
}

.reordering-desc-icon {
  margin-left: 0.5em !important;
}

.reordering-icon {
  float: right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ui.fullscreen.modal {
  left: auto !important;
}